@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Jua&display=swap');

:root {
    --main-color: #7FB285;
}

.backgroundMainColor {
    background-color: var(--main-color);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logInBox {
    max-width: 250px;
    width: 60vw;

    border: none;
}

.logInInput {
    height: 4vh;
    width: 100%;

    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;


    border: solid 0.2px grey;
    border-radius: 5%/ 30%;
}

.logInInput:focus {
    outline: none;
    box-sizing: border-box;
    border: solid 2px var(--main-color);
}