@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Jua&display=swap');

.navbar {
    height: 50px;

    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 20px;
}