.PopupCardLarge-mainWrapper{
    height: 250px;
    width: 100%;
    max-width: 100%;

    display: flex;
}

.PopupCardLarge-thumbnailImage-wrapper{
    width: 180px;
    height: 230px;
}

.PopupCardLarge-thumbnailImage{
    border-radius: 10%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.PopupCardLarge-text-wrapper{
    margin-left: 15px;
}